.img1{
    height: 600px;
    width: 100%;
}
.img2{
    width:20%;
    position: absolute;
    top:31%;
    left:33%
}
.main{
    position: relative;
}
.head1{
    position: absolute;
    top: 16%;
    left: 33%;
    font-size: 50px;
    color: white;
}
.head2{
    position: absolute;
    top: 55%;
    left: 33%;
    color: white;
    font-size: 50px;
}
#b1{
    position: absolute;
    top: 68%;
    left: 33%;
    border: solid whitesmoke;
}
#b2{
    position: absolute;
    top: 78%;
    left: 33%;
    border: solid whitesmoke;
}
.browse{
    text-decoration: none;
    background-color: whitesmoke;
    border: solid;
    border-color: gray;
    color: gray;
    border-width: 1px;
    position:absolute;
    padding: 15px 37px ;
}
.browse:hover{
    background-color: lightgray;
}
.new1{
    text-decoration: none;
    color: gray;
   
}
.price{
    color:black;
   
}
